<%= javascript_include_tag "tweet" %>

<fieldset class="fieldset_form">

  <%= form_tag('tweet/user_tweet', {:id => 'my_form'}) do %>
  <div>
    <%= text_field_tag 'Enter what you want to search' %>
  </div>
  <div>
    <%= submit_tag 'Search' %>
  </div>
  <% end %>

</fieldset>

