<%= stylesheet_link_tag "tweet" %>

<h1>Showing 10 latest tweets</h1>
<%= link_to "Go Back", :controller => "tweet", :action => "index" %>
<fieldset class="fieldset_form">
  <table>
    <th style="background-color:yellow">Url</th>
    <tr>
      <% if @show_error_message.nil? %>
        <% @tweets.each do |t| %>
            <td><%= t %></td>
        <%end%>
        <%else%>
            <%= @show_error_message%>
      <%end%>
    </tr>
  </table>
</fieldset>